# Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.

# Python can be used on a server to create web applications.

1 Python can be used alongside software to create workflows.
2 Python can connect to database systems. It can also read and modify files.
3 Python can be used to handle big data and perform complex mathematics.
4 Python can be used for rapid prototyping, or for production-ready software development.

# Python Syntax compared to other programming languages

1 Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2 Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [3]:
print("Hello, World!")

Hello, World!

# Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [9]:
if (50 > 12):
   print("Five is greater than two!")
   print("------------End of if-----")
print("----------End of Code-----------")

Five is greater than two!
------------End of if-----
 one is lesser
----------End of Code-----------

In [5]:
if 5 > 2:                            #error because their is no indentation
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-5-aec3dcdebd99>, line 2)

# The number of spaces is up to you as a programmer, but it has to be at least one.
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

In [7]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!


# You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [8]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-8-a4dba24e2a47>, line 3)

# Python Variables
#In Python, variables are created when you assign a value to it:

In [14]:
x = 5
y = "Hello, World!"
print(x)
print(type(x))
print(type(y))
x=True
print(type(x))

x=int(10)
print(x)
print(type(x))

5
<class 'int'>
<class 'str'>
<class 'bool'>
10
<class 'int'>

In [11]:
x

5

# Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [11]:
#This is a comment.
print("Hello, World!")

Hello, World!

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

# Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [12]:
print("Hello, World!") #This is a comment

Hello, World!

# Comments does not have to be text to explain the code, it can also be used to prevent Python from executing code:

In [13]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

# Multi Line Comments
Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [14]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

# you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [15]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

# Creating Variables
In Python, variables are names (or labels) that reference objects stored in memory.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [4]:
x = 5
y = "Akash"
print(x)
print(y)

5
Akash

In [17]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [18]:
x = "John"
print(type(x))
# is the same as
x = 'John'
print(type(x))
x="Student's"
print(x)
x='"Python" is interesting'
print(x)
x="a"
print(x)
print(type(x))

<class 'str'>
<class 'str'>
Student's
"Python" is interesting
a
<class 'str'>

# Variable Names
1 A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
2 A variable name must start with a letter or the underscore character
3 A variable name cannot start with a number
4 A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [19]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
#2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2598621163.py, line 11)

# Assign Value to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [25]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#x, y, z = "Orange", "Banana", "Cherry", "Apple" #too many values
#x, y, z = "Orange", "Banana" #not enough values
x,y=10, "abc"
print(x,y)
print(y)

Orange
Banana
Cherry
10 abc
abc

# And you can assign the same value to multiple variables in one line:

In [22]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Output Variables
The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [27]:
x = "awesome"
print("Python is " + x)
x=10
print("x = "+x)

Python is awesome

TypeError: can only concatenate str (not "int") to str

In [24]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [25]:
x = 5
y = 10
print(x + y)

15

# If you try to combine a string and a number, Python will give you an error:

In [26]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [28]:
x = "awesome"

#function definition
def myfunc():
  print("Python is " + x)

#function call
myfunc()
myfunc()
myfunc()

Python is awesome
Python is awesome
Python is awesome

In [28]:
x = "awesome"

def myfunc():
  x = "fantastic" #local copy
  print("Python is " + x)

myfunc()

print("Python is " + x) #global

Python is fantastic
Python is awesome

# The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [29]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [30]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

# Getting the Data Type
You can get the data type of any object by using the type() function:

In [32]:
x = 5
print(type(x))

<class 'int'>

In [33]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [34]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [8]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [36]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [32]:
name="alpana"
code=50020
print(name +"  ",code)
print("Name : %s    Code : %d" %(name,code)) #Formated output

alpana   50020
Name : alpana    Code : 50020

In [37]:
def addition(a,b):
    c=a+b
    return c

def add(a, b=5):
    c=a+b
    return c

def show(name="Alpana", code=50020, location="Nashik"):
    print(name, code , location)

show()
show("Alpana S.", 11111,"aaaaa")
show(location="MH")
show(location="Nsk", name="ALPANA")


x=addition(10,20)
print(x)
x=addition(100,4000)
print(x)

print(add(10,30))
print(add(100))

Alpana 50020 Nashik
Alpana S. 11111 aaaaa
Alpana 50020 MH
ALPANA 50020 Nsk
30
4100
40
105

In [6]:
print(2*3)
#print("2"*"3")
print("2"*3)
print(2*"3")

6
222
33

In [41]:
x = ["orange","apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['orange', 'apple', 'banana', 'cherry']
<class 'list'>

In [42]:
x = ("orange","apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('orange', 'apple', 'banana', 'cherry')
<class 'tuple'>

In [39]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [40]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [44]:
x = set({"apple", "banana", "cherry","apple"})

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [43]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [46]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [44]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [45]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [46]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001DBA7196108>
<class 'memoryview'>

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

In [47]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [48]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [49]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [50]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [48]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x)) 
print(x[0])
print(len(x))

['apple', 'banana', 'cherry']
<class 'list'>
apple
3

In [52]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [53]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [54]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [55]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [56]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [57]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [58]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [59]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [60]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001DBA7196108>
<class 'memoryview'>

# Python Numbers

Python Numbers
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [61]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [62]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [63]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [64]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Float can also be scientific numbers with an "e" to indicate the power of 10.

In [49]:
y = 12E4
z = -87.7e100
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

120000.0
-8.77e+101
<class 'list'>
<class 'float'>
<class 'float'>

# Complex
Complex numbers are written with a "j" as the imaginary part:

In [50]:
x = 3+5j
y = 5j
z = -5j

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

(3+5j)
5j
(-0-5j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [67]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [10]:
import random

def display(n):
    print(n)


display(random.randrange(1, 10))

2

# Python Casting

Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [72]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [73]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [74]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

# Python Strings

String Literals
String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [75]:
print("Hello")
print('Hello')

Hello
Hello

# Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [76]:
a = "Hello"
print(a)

Hello

# Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [77]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [78]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [79]:
a = "Hello, World!"
print(a[1])

e

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [55]:
b = "Hello, World!"
print(b[0]) #display 0th index letter
print(b[2:5]) #display 2nd to 4th pos letters
print(b[7:]) #display string from 7th pos
print(b[:6]) #display till 5th
print(b[:]) #display all letters

H
llo
World!
Hello,
Hello, World!

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [60]:
b = "Hello, World!"
print(b[-1])
print(b[-5:-2])
print(b[0:-1])
print(b[-10:-1])

!
orl
Hello, World
lo, World

# String Length
To get the length of a string, use the len() function.

In [82]:
a = "Hello, World!"
print(len(a))

13

# String Methods
Python has a set of built-in methods that you can use on strings.

In [61]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(len(a))
print(len(a.strip())) # returns "Hello, World!"

15
13

In [85]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [86]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [62]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "Hi"))

Hiello, World!

In [67]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
a="Java C Python C++ .NET"
print(a)
l=a.split(" ")
print(l)
print("C++" in l)
print("C#" not in l)

['Hello', ' World!']
Java C Python C++ .NET
['Java', 'C', 'Python', 'C++', '.NET']
True
True

# Check String
To check if a certain phrase or character is present in a string, we can use the keywords in or not in

In [89]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

Check if the phrase "ain" is NOT present in the following text:

In [90]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

# String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [91]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [92]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [93]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [94]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [95]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [69]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:


quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

myorder = "I want to pay {2} dollars for {0} pieces of item {1}. {2}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.
I want to pay 49.95 dollars for 3 pieces of item 567. 49.95

In [97]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

#You will get an error if you use double quotes inside a string that are surrounded by double quotes:

SyntaxError: invalid syntax (<ipython-input-97-049c1f37b1a6>, line 1)

In [98]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# String Methods
Python has a set of built-in methods that you can use on strings.

capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

# Python Booleans

Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [99]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [100]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return,

In [70]:
print(bool("Hello"))
print(bool(15))
print(bool(0))

True
True
False

In [102]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [103]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

Some Values are False
In fact, there are not many values that evaluates to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [74]:
bool(False)
bool(0)
bool(None)
bool("")
bool(())
bool([])
bool({})

False

In [105]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [75]:
x = 200
print(isinstance(x, int))
print(isinstance(x, bool))

True
False

# Python Operators

Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

In [107]:
x = 5
y = 3

print(x + y)

8

In [108]:
x = 5
y = 3

print(x - y)

2

In [109]:
x = 5
y = 3

print(x * y)

15

In [110]:
x = 12
y = 3

print(x / y)

4.0

In [111]:
x = 5
y = 2

print(x % y)

1

In [112]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [76]:
x = 15
y = 2

print( x / y)
print(x // y)

#the floor division // rounds the result down to the nearest whole number

7.5
7

# Python Assignment Operators
Assignment operators are used to assign values to variables:

In [114]:
x = 5

print(x)

5

In [115]:
x = 5

x += 3

print(x)

8

In [116]:
x = 5

x -= 3

print(x)

2

In [117]:
x = 5

x *= 3

print(x)

15

In [118]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [122]:
x = 5

x%=3

print(x)

2

In [124]:
x = 5

x//=3

print(x)

1

In [125]:
x = 5

x **= 3

print(x)

125

In [126]:
x = 5

x &= 3

print(x)

1

In [127]:
x = 5

x |= 3

print(x)

7

In [128]:
x = 5

x ^= 3

print(x)

6

In [129]:
x = 5

x >>= 3

print(x)

0

In [130]:
x = 5

x <<= 3

print(x)

40

# Python Comparison Operators
Comparison operators are used to compare two values:

In [131]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [132]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [133]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [134]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [135]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [136]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

# Python Logical Operators
Logical operators are used to combine conditional statements:

In [137]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [138]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [139]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [77]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y) 

# returns False because x is not the same object as y, even if they have the same content

print(x == y) 

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [141]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [142]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [143]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

Operator	Name	Description
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Python Lists

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# List
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [145]:
#Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# Access Items


#You access the list items by referring to the index number:

#ExamplePrint the second item of the list:

In [148]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [149]:
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [150]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [151]:
#This example returns the items from the beginning to "orange":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [152]:
#This example returns the items from "cherry" and to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

In [153]:
#This example returns the items from index -4 (included) to index -1 (excluded)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

# Change Item Value
To change the value of a specific item, refer to the index number:

In [154]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Loop Through a List
You can loop through the list items by using a for loop:

In [155]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

In [157]:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# List Length
To determine how many items a list has, use the len() function:

In [158]:
#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# Add Items
To add an item to the end of the list, use the append() method:

In [159]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method:

In [160]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

# Remove Item
There are several methods to remove items from a list:

In [161]:
#The remove() method removes the specified item:

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [162]:
#The pop() method removes the specified index, (or the last item if index is not specified):

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [163]:
#The del keyword removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [166]:
#The del keyword can also delete the list completely:

thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)#this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

In [167]:
#The clear() method empties the list:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [168]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [169]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [171]:
#Join two list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [172]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

# Use the extend() method to add list2 at the end of list1:

In [173]:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# The list() Constructor
It is also possible to use the list() constructor to make a new list.

In [176]:
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# List Methods
Python has a set of built-in methods that you can use on lists.

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

# Tuple
A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [178]:
#Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

In [179]:
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Negative Indexing
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [181]:
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [182]:
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

In [183]:
#This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

# Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [184]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [185]:
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [186]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Tuple Length
To determine how many items a tuple has, use the len() method:

In [187]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Add Items
Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [188]:
#You cannot add items to a tuple:  leads to an error

thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

# Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [189]:
#One item tuple, remember the commma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# Remove Items
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

In [190]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Join Two Tuples
To join two or more tuples you can use the + operator:

In [191]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [192]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

# Set
A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [193]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

# Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [194]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [195]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Change Items
Once a set is created, you cannot change its items, but you can add new items.

Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [196]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [197]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'mango', 'grapes', 'cherry', 'orange', 'apple'}

# Get the Length of a Set
To determine how many items a set has, use the len() method.

In [198]:
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [199]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

Note: If the item to remove does not exist, remove() will raise an error.

In [200]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [201]:
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [202]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [203]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [204]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [205]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [206]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

# Set Methods
Python has a set of built-in methods that you can use on sets.

add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [207]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Accessing Items

In [211]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

There is also a method called get() that will give you the same result:

In [212]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

# Change Values
You can change the value of a specific item by referring to its key name:

In [213]:
#Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

# Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [214]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

Print all values in the dictionary, one by one:

In [215]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

You can also use the values() method to return values of a dictionary:

In [216]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

Loop through both keys and values, by using the items() method:

In [217]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

# Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [218]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

# Dictionary Length
To determine how many items (key-value pairs) a dictionary has, use the len() function.

In [220]:
#Print the number of items in the dictionary:

print(len(thisdict))

3

# Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [221]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Removing Items
There are several methods to remove items from a dictionary:

In [222]:
#The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [223]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [224]:
#The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [225]:
#The del keyword can also delete the dictionary completely:  error

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [226]:
#The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [227]:
#Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Another way to make a copy is to use the built-in function dict().

In [229]:
#Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Nested Dictionaries
A dictionary can also contain many dictionaries, this is called nested dictionaries.

In [231]:
#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

# Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [232]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

# The dict() Constructor
It is also possible to use the dict() constructor to make a new dictionary:

In [233]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

# Python If ... Else

Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [234]:
#If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

# Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [235]:
#error
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block (<ipython-input-235-b4ec88c9888a>, line 6)

# Elif
The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [236]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [237]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [238]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [239]:
#One line if statement:

if a > b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [240]:
#One line if else statement:

a = 2
b = 330
print("A") if a > b else print("B")

B

In [242]:
#This technique is known as Ternary Operators, or Conditional Expressions.
#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

# And
The and keyword is a logical operator, and is used to combine conditional statements:

In [243]:
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [244]:
#Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested If
You can have if statements inside if statements, this is called nested if statements.

In [245]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [246]:
a = 33
b = 200

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

# Python Loops
Python has two primitive loop commands:

while loops  for loops

# The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [248]:
#Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [250]:
#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [251]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [252]:
#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [254]:
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [255]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

# The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [256]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [257]:
#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

# The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [258]:
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [259]:
#Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

In [260]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [261]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

# Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [262]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [263]:
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [264]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement

# Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

# Creating a Function
In Python a function is defined using the def keyword:

In [265]:
def my_function():
  print("Hello from a function")

# Calling a Function
To call a function, use the function name followed by parenthesis:

In [266]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

# Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [267]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

NOTE:Arguments are often shortened to args in Python documentations.

# Number of Arguments
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

# def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

If you try to call the function with 1 or 3 arguments, you will get an error:

In [269]:
#This function expects 2 arguments, but gets only 1:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

# Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [271]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

# Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [272]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

# Default Parameter Value
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [273]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [274]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# Return Values
To let a function return a value, use the return statement:

In [275]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# The pass Statement
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [276]:
def myfunction():
  pass

# having an empty function definition like this, would raise an error without the pass statement

# Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

# Syntax
lambda arguments : expression

In [277]:
#A lambda function that adds 10 to the number passed in as an argument, and print the result:

x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

In [279]:
#A lambda function that multiplies argument a with argument b and print the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [280]:
#A lambda function that sums argument a, b, and c and print the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

# Python User Input

In [281]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:srikanth
Username is: srikanth